@font-face {
    font-family: 'Ayar';
    src: url('Ayar.woff2') format('woff2'),
        url('Ayar.woff') format('woff'),
        url('Ayar.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ayar';
    src: url('Ayar_1.woff2') format('woff2'),
        url('Ayar_1.woff') format('woff'),
        url('Ayar_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

