* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.navbar-li {
    display: inline-block;
    margin-right: 59px;
    color: #FFFFFF;
    font-size: 12px;
}

.navbar {
    width: 100%;
    text-align: right;
    position: fixed;
    top: 28px;
}

.header-block {
    height: 899px;
    width: 100%;
    background-image: url("images/main.jpg");
    padding-top: 28px;
    position: relative;
}

.header-image-text {
    font-size: 30px;
    color: #FFFFFF;
    font-weight: bold;
    position: absolute;
    bottom: 45.5px;
    left: 180px;
}

.buttons {
    display: inline-block;
    margin-left: 180px;
    margin-top: 45.64px;
}


.buttons span:first-child {
    margin-right: 30px;
    color: #262626;
    font-size: 11px;
    font-family: 'tisa';
    font-weight: bold;


}

.buttons span:last-child {
    background-color: #0865DE;
    color: #FFFFFF;
    font-size: 12px;
    display: inline-block;
    padding: 8.79px 16px;
    font-family: 'tisa';
    font-weight: bold;

}

.p-first {
    padding: 180px;
}

.p-first-title h2{
    color: #262626;
    font-size: 32.7px;
    text-align: left;
    opacity: 1;
    font-family: 'tisa';
}

.p-first-text p{
    color: #434343;
    font-size: 25px;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    margin-top: 72px;
    font-family: 'tisa';
}

.buttons-2 {
    display: inline-block;
    margin-left: 180px;
    margin-top: 64px;
}

.buttons-2 span:nth-child(1) {
    color: #959595;
    font-size: 14px;
    margin-right: 90px;
}

.buttons-2 span:nth-child(2) {
    color: #959595;
    font-size: 18px;
    margin-right: 90px;
}

.buttons-2 span:nth-child(3) {
    color: #959595;
    font-size: 18px;
}

/* my part ends here  */
body{
    background-color: #F7F7F7;
}
.objectives-block{
    display: inline-block;
    vertical-align: top;
    background-color: #FFFFFF;
    width: 835px;
    height: 372px;
    margin-left: 90px;
    margin-top: 120px;
}
.objectives-text{
    margin: 90px;
}
.objectives-title{
    color: #262626;
    font-size: 25px;
    line-height: 30px;
    font-family: 'BrandonGrotesque-Bold';
}
.objectives-paragraph{
    width: 655px;
    color: #434343;
    font-size: 18px;
    line-height: 33.3px;
    margin-top: 30px;
    font-family: 'Tisa';
}
.public-block{
    display: inline-block;
    vertical-align: top;
    background-color: #FFFFFF;
    width: 395px;
    height: 372px;
    margin-left: 30px;
    margin-top: 120px;
}
.public-text{
    margin: 90px;
}
.public-title{
    color: #262626;
    font-size: 25px;
    line-height: 30px;
    font-family: 'BrandonGrotesque-Bold';
}
.public-article{
    margin-top: 30px;
    width: 216px;
    color: #434343;
    font-size: 18px;
    line-height: 33.3px;
    font-family: 'Tisa';
}
.dispositif-block{
    display: inline-block;
    vertical-align: top;
    background-color: #FFFFFF;
    width: 835px;
    height: 438px;
    margin-left: 90px;
    margin-top: 30px;
}
.dispositif-text{
    margin: 90px;
}
.dispositif-title{
    color: #262626;
    font-size: 25px;
    line-height: 30px;
    font-family: 'BrandonGrotesque-Bold';
}
.dispositif-li-special{
    display: inline-block;
    color: #000000;
    font-size: 11px;
    line-height: 20px;
    margin-right: 28px;
    font-family: 'Arial'
}
.dispositif-list{
    margin-top: 45px;
    display: inline-block;
}
.dispositif-li{
    display: inline-block;
    margin-right: 45px;
    color: #262626;
    font-size: 12px;
    line-height: 33px;
}
.dispositis-paragraph{
    margin-top: 72px;
    color: #434343;
    font-size: 18px;
    font-family: 'Tisa';
    line-height: 33.3px;
}
.L’EQUIPE-content{
    text-align: center;
    margin: 92px;
}
.L’EQUIPE-block{
    vertical-align: top;
    display: inline-block;
    background-color: #FFFFFF;
    width: 395px;
    height: 438px;
    margin-left: 30px;
    margin-top: 30px;
}
.L’EQUIPE-title{
    color: #262626;
    font-size: 25px;
    line-height: 30px;
    font-family: 'BrandonGrotesque-Bold';
}
.L’EQUIPE-image {
    max-width: 32px;
    max-height: 32px;
    margin-top: 38px;
    margin-right: 18px;
}
.single-image{
    max-height: 32px;
    max-width: 32px;
    vertical-align: top;
    margin-top: 27px;
}
.L’EQUIPE-text {
    display: inline-block;
    background-color: #0865DE;
    width: 182px;
    height: 162.8px;
    margin-top: 13px;
    margin-left: -15px;
}
.L’EQUIPE-text h5{
    color: #FFFFFF;
    font-size: 15px;
    line-height: 18px;
    font-family: 'BrandonGrotesque-Bold';
    margin-top: 36px;
    margin-left: 15.5px;
    height: 38px;
    width: 151px;
}
.L’EQUIPE-span1{
    color: #FFFFFF;
    font-size: 10px;
    line-height: 16px;
    margin-top: 10px;
    font-family: 'Arial'
}
.L’EQUIPE-article{
    color: #FFFFFF;
    font-size: 12px;
    line-height: 16px;
    margin-top: 10px;
    width: 152px;
    margin-left: 15px;
    height: 33px;
    font-family: 'Tisa';
}